*.py[co]
__pycache__/

/MANIFEST
/build/
/dist/
/docs/_build/
/*.egg-info/
/*.egg
/.eggs/

/.venv/
/.pytest_cache/
/.coverage
/htmlcov/
/.tox/

Thumbs.db

/test-output/

/examples/.ipynb_checkpoints/
