*.py[co]
__pycache__/

/MANIFEST
/build/
/dist/
/docs/_build/
/docs/_doctest/
/*.egg-info/
/*.egg
/.eggs/

/.venv/
/.pytest_cache/
/.tox/
/htmlcov/
/.coverage
/test-log.txt

Thumbs.db

.ipynb_checkpoints/

/doctest-output/
/test-output/

/examples/*.gv
/examples/*.pdf
/examples/*.svg
