*.py[co]
__pycache__/

/MANIFEST
/build/
/dist/
/docs/_build/
/*.egg-info/
/*.egg
/.eggs/

/.venv/
/.pytest_cache/
/.coverage
/htmlcov/
/.tox/

Thumbs.db

.ipynb_checkpoints/

/test-output/
/test-log.txt

/examples/*.gv
/examples/*.pdf
