language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
before_cache: rm -f $HOME/.cache/pip/log/debug.log
addons:
  apt:
    packages:
    - graphviz
install: pip install .[test] codecov
script: pytest
after_success: codecov
