dist: trusty
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
addons:
  apt:
    packages:
    - graphviz
install:
  - pip install -e .
  - pip install mock "pytest>=3.1" pytest-mock pytest-cov coveralls
script: pytest
after_success: if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then coveralls; fi
