include README.rst LICENSE CHANGES
include requirements.txt
include run-tests.py
recursive-include docs *.rst *.txt *.py *.png *.svg
recursive-include examples *.py *.ipynb
recursive-include tests *.py
